@model MovieSite.Entity.User

@{
    ViewBag.Title = "SHARED PROJECTS";
    Layout = "/Views/Shared/_Layout.cshtml";
}
<!DOCTYPE html>
<html lang="zxx">


<body>



    <!-- Normal Breadcrumb Begin -->
    <section class="normal-breadcrumb set-bg" data-setbg="img/normal-breadcrumb.jpg">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <div class="normal__breadcrumb__text">
                        <h2>Влизане в профила</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Normal Breadcrumb End -->
    <!-- Login Section Begin -->
    <section class="login spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="login__form">
                        <h3>Влизане в профила</h3>
                        <form action="/Users/Login" method="post">
                            <div class="input__item">
                                <input type="text" placeholder="Емайл" id="Email" name="Email">


                                <span class="icon_mail"></span>
                            </div>
                            <div class="input__item">
                                <input type="text" placeholder="Парола" id="Password" name="Password">
                                <span class="icon_lock"></span>
                            </div>
                            <button type="submit" class="site-btn">Влез Сега</button>
                        </form>
                        <a href="#" class="forget_pass">Забравил Си Паролата?</a>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="login__register">
                        <h3>Нямаш Профил?</h3>
                        <a href="/users/signup" class="primary-btn">Регистрирай Се Сега</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Login Section End -->


</body>

</html>